* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: hsl(0deg, 0%, 92%);
}

main .container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 0px 74px;
}
main .search {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
main .search .country {
  display: flex;
  align-items: center;
  height: 53px;
  padding: 0px 30px;
  border-radius: 6px;
  width: 450px;
  gap: 20px;
  color: hsl(0deg, 0%, 52%);
  background-color: white;
}
main .search .country > input {
  height: inherit;
  background-color: inherit;
  border: none;
  color: inherit;
  font-size: 14px;
}
main .search .country > input:focus {
  outline: none;
}
main .search .region {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .search .region .filter {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 200px;
  height: 53px;
  padding: 0px 20px;
  justify-content: space-between;
  background-color: white;
  border-radius: 6px;
  color: hsl(209deg, 23%, 22%);
}
main .search .region .filter > h3 {
  font-size: 14px;
  font-weight: 600;
}
main .search .region > ul {
  position: absolute;
  top: 55px;
  padding: 12px 20px;
  margin-top: 5px;
  border-radius: 6px;
  width: 100%;
  background-color: white;
  list-style: none;
}
main .search .region > ul > li {
  padding: 3px;
  font-weight: 600;
  font-size: 14px;
  color: hsl(209deg, 23%, 22%);
  cursor: pointer;
}
main .search .region > ul > li:hover {
  color: rgb(113, 123, 133);
}
main .countrys-grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  margin-top: 50px;
  margin-bottom: 100px;
}
main .countrys-grid > .grid-item {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  margin: auto;
  width: 260px;
  max-width: 100%;
  background-color: white;
  border-radius: 6px;
}
main .countrys-grid > .grid-item > img {
  width: 100%;
  height: 170px;
  max-width: 100%;
  border-radius: 6px 6px 0px 0px;
}
main .countrys-grid > .grid-item > .discription {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 20px 40px;
}
main .countrys-grid > .grid-item > .discription h3 {
  font-size: 20px;
}
main .countrys-grid > .grid-item > .discription > ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
}
main .countrys-grid > .grid-item > .discription > ul > li {
  font-weight: 600;
  font-size: 14px;
  color: hsl(200deg, 15%, 8%);
}
main .countrys-grid > .grid-item > .discription > ul > li > span {
  font-weight: 300;
}
main .countrys-grid > .grid-item .region-error {
  color: rgb(179, 0, 0);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: white;
  box-shadow: 0px 4px 10px 1px hsl(0deg, 0%, 90%);
}
header .header-contaner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  padding: 0px 74px;
}
header .header-contaner h1 {
  font-size: 24px;
  color: hsl(200deg, 15%, 8%);
}
header .header-contaner .dark-mode {
  color: hsl(209deg, 23%, 22%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
header .header-contaner .dark-mode .icon {
  width: 24px;
  padding: 0px 0px 0px;
  margin-right: 6px;
  display: flex;
}
header .header-contaner .dark-mode .icon i {
  font-size: 18px;
  transform: rotate(-26deg);
}
header .header-contaner .dark-mode > span:not(.icon) {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.6px;
}

.country-compo {
  display: flex;
  padding: 20px 74px 100px;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  margin: 50px auto 0px;
}
.country-compo > .go-back {
  width: 100%;
}
.country-compo > .go-back > .back-btn {
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 11px;
  padding: 8px 30px;
  border-radius: 6px;
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(200deg, 15%, 8%);
  font-weight: 500;
  box-shadow: 0px 0px 10px 6px hsl(0deg, 0%, 85%);
  text-decoration: none;
}
.country-compo > .country-info {
  display: flex;
  width: 100%;
  margin-top: 75px;
  justify-content: space-between;
}
.country-compo > .country-info > .image > img {
  width: 530px;
  max-width: 100%;
  max-height: 380px;
}
.country-compo > .country-info > .info {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.country-compo > .country-info > .info .info-lists {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.country-compo > .country-info > .info .info-lists > ul {
  list-style: none;
}
.country-compo > .country-info > .info .info-lists > ul > li {
  margin-bottom: 10px;
  color: hsl(200deg, 15%, 8%);
  font-weight: 600;
}
.country-compo > .country-info > .info .info-lists > ul > li > span {
  font-weight: 400;
}
.country-compo > .country-info > .info > .border-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  font-weight: 600;
  height: auto;
  margin-top: 60px;
}
.country-compo > .country-info > .info > .border-container > h3 {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-right: 15px;
}
.country-compo > .country-info > .info > .border-container > .border-contry {
  padding: 5px 15px;
  background-color: hsl(0deg, 0%, 98%);
  border-radius: 4px;
  margin-right: 10px;
  border: 1px solid rgb(221, 216, 216);
  text-decoration: none;
  color: hsl(200deg, 15%, 8%);
}

.error {
  margin-top: 30px;
}
.error h2 {
  padding-left: 15px;
  color: hsl(200deg, 15%, 8%);
}

header.dark-mode {
  box-shadow: none;
  background-color: hsl(209deg, 23%, 22%);
}
header.dark-mode .header-contaner h1 {
  color: white;
}
header.dark-mode .header-contaner > .dark-mode {
  color: white;
}

main.dark-mode .search .country {
  color: white;
  background-color: hsl(209deg, 23%, 22%);
}
main.dark-mode .search .country input::-moz-placeholder {
  color: white;
}
main.dark-mode .search .country input:-ms-input-placeholder {
  color: white;
}
main.dark-mode .search .country input::placeholder {
  color: white;
}
main.dark-mode .search .region .filter {
  color: white;
  background-color: hsl(209deg, 23%, 22%);
}
main.dark-mode .search .region .filter + ul {
  background-color: hsl(209deg, 23%, 22%);
}
main.dark-mode .search .region .filter + ul li {
  color: white;
}
main.dark-mode .countrys-grid .grid-item {
  color: white;
  background-color: hsl(209deg, 23%, 22%);
}
main.dark-mode .countrys-grid .grid-item ul li {
  color: white;
}
main.dark-mode .error h2 {
  color: white;
}

.country-compo.dark-mode .go-back .back-btn {
  color: white;
  background-color: hsl(209deg, 23%, 22%);
  box-shadow: 0px 0px 10px 6px rgb(27, 37, 47);
}
.country-compo.dark-mode .country-info .info {
  color: white;
}
.country-compo.dark-mode .country-info .info ul li {
  color: white;
}
.country-compo.dark-mode .country-info .info .border-container .border-contry {
  background-color: hsl(209deg, 23%, 22%);
  color: white;
  border-color: rgb(27, 37, 47);
}

@media (max-width: 1300px) {
  .country-info {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 50px;
  }
}
@media (max-width: 700px) {
  .country-compo {
    padding: 20px 30px;
  }
  .country-info .info {
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  header .header-contaner {
    padding: 0px 30px;
  }
  header .header-contaner h1 {
    font-size: 18px;
  }
  header .header-contaner .dark-mode h3 {
    font-size: 14px;
  }
  .container {
    padding: 0px 15px !important;
  }
  .container .search {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .container .search .country {
    max-width: 100%;
  }
  .country-info {
    margin-top: 50px !important;
  }
  .country-info .info .info-lists {
    flex-direction: column;
    gap: 25px;
  }
  .country-info .info .border-container h3 {
    display: block;
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */